@media screen and (max-width: 600px) {
    body{
        background-color: #023047;
}
}

#goofy{
    border: solid #023047 1px;
    border-radius: 15px;
    font-size: 38pt;
    color: white;
    margin: auto;
    width: 80%;
    padding: 20px;
    text-align: center;
    background-color: #219ebc;
    font-family:'Courier New', Courier, monospace;
}



#bigContainer{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;

    border: solid black 1px;
    border-radius: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding: 50px;
        background-color: #8ecae6;
        
}

.container > div 
{
    flex: 1 0 200px;
}

.textfield{

    border-radius: 10px;
    resize: none;
    font-size:20pt;
}

.buttonContainer {
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 7px;
  }

    .button {

        border: solid #023047 1px;
    
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px;
      border-radius: 6px;
      color: #fff;
      background-color: #219ebc;
    }
    

    #alert-banner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        border:5px;
        background-color: #f44336;
        color: white;
        text-align: center;
        padding: 10px;
        display: none;
    }

